@use '@angular/material' as mat;
@use 'sass:map';
@use '../utils.scss';

$primary:mat.define-palette(mat.$blue-palette);
$accent:mat.define-palette(mat.$pink-palette);
$warn:mat.define-palette(mat.$red-palette);

$light-theme-color-config: mat.define-light-theme((
    color:(
        primary:$primary,
        accent: $accent,
        warn: $warn
    )
));
$portfolio-light-theme: mat.define-light-theme(utils.with-typography-config($light-theme-color-config));


@include utils.create-theme-bundle($portfolio-light-theme);